{% extends "shops/base.html" %}
{% load static %}
{% load humanize %}

{% block title %}Approve Adjustment{% endblock %}

{% block content %}
<div class="container-fluid py-4">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Confirm Approval</h5>
                </div>
                <div class="card-body">
                    <p>Are you sure you want to approve this adjustment?</p>
                    
                    <div class="alert alert-info">
                        <strong>Details:</strong><br>
                        Account: {{ adjustment.mpesa_account.account_name }}<br>
                        Type: {{ adjustment.get_adjustment_type_display }}<br>
                        Amount: KES {{ adjustment.amount|floatformat:2|intcomma }}<br>
                        Reason: {{ adjustment.reason }}<br>
                        Current Balance: KES {{ adjustment.mpesa_account.current_balance|floatformat:2|intcomma }}
                    </div>
                    
                    <form method="post">
                        {% csrf_token %}
                        <div class="d-flex justify-content-between">
                            <a href="{% url 'shops:mpesa_adjustments_pending' %}" class="btn btn-secondary">
                                Cancel
                            </a>
                            <button type="submit" class="btn btn-success">
                                <i class="fas fa-check"></i> Confirm Approval
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}